// .section-heading p {
//   font-weight: 400;
//   font-size: 1.1rem;
//   color: #313131;
// }

.section-heading p {
  font-weight: 400;
  font-size: 1.1rem;
  color: rgb(123, 123, 123);
}

.home-section {
  background-image: $sta-home-section-odd;
  padding: 110px 0 20px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

// .home-section:first-of-type {
//   padding-top: 50px;
//   background-image: "linear-gradient(rgb(171, 245, 237), rgb(255, 255, 255))";
// }
//
.home-section:nth-of-type(odd) {
  background-image: linear-gradient(rgb(171, 245, 237), rgb(255, 255, 255));
}
